@model ShadowBlog.ViewModels.HomeIndexViewModel
@using ShadowBlog.Services.Interfaces
@inject IImageService _imageService

<section class="main-banner-wrap dark-overlay2 bg-common mb-4" data-bg-image="img/pexels-pixabay-163036.jpg">
    <div class="container">
        <div class="row gutters-2">
            <div class="col-lg-6">
                <div class="post-grid-layout3 post-grid14">
                    <div class="post-img">
                        <img src="@_imageService.DecodeImage(Model.NewestCards.MainCard.ImageData, Model.NewestCards.MainCard.ContentType)" width="635" height="518" alt="Games">
                    </div>
                    <div class="post-content">
                        <div class="item-category bg-green"><a asp-action="ChildIndex" asp-controller="BlogPosts" asp-route-id="@Model.NewestCards.MainCard.Id">New</a></div>
                        <div class="post-date"><i class="flaticon-clock"></i> @Model.NewestCards.MainCard.Created.ToString("dd MMMM, yyyy")</div>
                        <h2 class="post-title"><a asp-action="ChildIndex" asp-controller="BlogPosts" asp-route-blogId="@Model.NewestCards.MainCard.Id">@Model.NewestCards.MainCard.Name</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row gutters-2">
                    <div class="col-sm-6">
                        @foreach (Blog blog in Model.NewestCards.SideCards.Skip(1).Take(2))
                        {
                            <div class="post-grid-layout3 post-grid13">
                                <div class="post-img">
                                    <img src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" width="319" height="260" alt="Games">
                                </div>
                                <div class="post-content">
                                    <div class="item-category bg-green"><a asp-action="ChildIndex" asp-controller="BlogPosts" asp-route-blogId="@blog.Id">New!</a></div>
                                    <div class="post-date"><i class="flaticon-clock"></i>@blog.Created.ToString("dd MMMM, yyyy")</div>
                                    <h3 class="post-title"><a asp-action="ChildIndex" asp-controller="BlogPosts" asp-route-blogId="@blog.Id">@blog.Name</a></h3>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="col-sm-6">
                        @foreach (Blog blog in Model.NewestCards.SideCards.Skip(3).Take(2))
                        {
                            <div class="post-grid-layout3 post-grid13">
                                <div class="post-img">
                                    <img src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" width="319" height="260" alt="Games">
                                </div>
                                <div class="post-content">
                                    <div class="item-category bg-green"><a asp-action="ChildIndex" asp-controller="BlogPosts" asp-route-blogId="@blog.Id">NEW!</a></div>
                                    <div class="post-date"><i class="flaticon-clock"></i>@blog.Created.ToString("dd MMMM, yyyy")</div>
                                    <h3 class="post-title"><a asp-action="ChildIndex" asp-controller="BlogPosts" asp-route-blogId="@blog.Id">@blog.Name</a></h3>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="box-layout-wrap">
    <div class="box-layout-content">
        <!--=====================================-->
        <!--=            Post Start          	=-->
        <!--=====================================-->
        <section class="post-wrap-layout1">
            <div class="container">
                <div class="row gutters-40">
                    <div class="col-xl-9">
                        <div class="margin-bottom-40">
                            <div class="heading-layout1">
                                <h2 class="heading-title">Featured Content</h2>
                                <div class="heading-icon">
                                    <a href="#" class="active"><i class="flaticon-left-arrow-1"></i></a>
                                    <a href="#"><i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            <div class="post-bg-wrap">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="post-grid-layout1">
                                            <div class="post-img">
                                                <img src="@_imageService.DecodeImage(Model.NewestCards.MainPostCard.ImageData, Model.NewestCards.MainPostCard.ImageType)"
                                                     width="500" height="380" alt="Post Image">
                                            </div>
                                            <div class="post-content">
                                                <div class="post-date">
                                                    <i class="flaticon-clock"></i>@Model.NewestCards.MainPostCard.Created.ToString("dd MMMM, yyyy")
                                                </div>

                                                <h3 class="post-title">
                                                    <a asp-action="Details"
                                                       asp-controller="BlogPosts"
                                                       asp-route-slug="@Model.NewestCards.MainPostCard.Slug">@Model.NewestCards.MainPostCard.Title</a>
                                                </h3>
                                                <div class="post-meta-light">
                                                    <ul>
                                                        <li class="post-author">
                                                            <div class="author-icon bg-green">
                                                                <i class="flaticon-user"></i>
                                                            </div>
                                                            <div class="author-content">
                                                                <div class="item-text">Posted by</div>
                                                                <div class="author-name"><a href="#">Monae Lee</a></div>
                                                            </div>
                                                        </li>
                                                        <li class="meta-action"><i class="flaticon-heart"></i>2,350</li>
                                                        <li class="meta-action">
                                                            <i class="flaticon-comment-white-oval-bubble"></i>@Model.NewestCards.MainPostCard.Comments.Count()
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="post-list-layout1">
                                            @foreach (BlogPost blogPost in Model.OldestPosts.Take(3))
                                            {
                                                <div class="media">
                                                    <div class="item-img">
                                                        <img src="@_imageService.DecodeImage(blogPost.ImageData, blogPost.ImageType)"
                                                             width="117" height="110" alt="Post Image">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="post-date">
                                                            <i class="flaticon-clock"></i>
                                                            @blogPost.Created.ToString("dd MMMM, yyyy")
                                                        </div>
                                                        <h4 class="post-title">
                                                            <a asp-action="Details"
                                                               asp-controller="BlogPosts"
                                                               asp-route-slug="@blogPost.Slug">@blogPost.Title</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="ad-banner-layout1 margin-bottom-40">
                                <a href="#">
                                    <img src="media/figure/ad.jpg" alt="Ad">
                                </a>
                            </div>
                            <div class="margin-bottom-40">
                                <div class="row gutters-40">
                                    @foreach (BlogPost blogPost1 in Model.NewestCards.SidePostCards.Take(1))
                                    {
                                        <div class="col-lg-6">
                                            <div class="heading-layout1">
                                                <h2 class="heading-title">@blogPost1.Blog.Name</h2>
                                                <div class="heading-icon">
                                                    <a href="#" class="active"><i class="flaticon-left-arrow-1"></i></a>
                                                    <a href="#"><i class="flaticon-right-arrow"></i></a>
                                                </div>
                                            </div>
                                            <div class="post-grid-layout2">
                                                <div class="item-img">
                                                    <img src="@_imageService.DecodeImage(blogPost1.ImageData, blogPost1.ImageType)" width="500" height="284" alt="Post Image">
                                                </div>
                                                <div class="item-content">
                                                    <div class="post-date"><i class="flaticon-clock"></i> @blogPost1.Created.ToString("dd MMMM, yyyyy")</div>
                                                    <h3 class="post-title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost1.Slug">@blogPost1.Title</a></h3>
                                                    <p>@blogPost1.Abstract</p>
                                                    <div class="post-meta-dark">
                                                        <ul>
                                                            <li class="post-author">
                                                                <div class="author-icon bg-green">
                                                                    <i class="flaticon-user"></i>
                                                                </div>
                                                                <div class="author-content">
                                                                    <div class="item-text">Posted by</div>
                                                                    <div class="author-name"><a href="#">Monae Lee</a></div>
                                                                </div>
                                                            </li>
                                                            <li class="meta-action"><i class="flaticon-heart"></i>2,350</li>
                                                            <li class="meta-action"><i class="flaticon-comment-white-oval-bubble"></i>@blogPost1.Comments.Count()</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        } 
                                    @foreach (BlogPost blogPost2 in Model.NewestCards.SidePostCards.Skip(1).Take(1))
                                    {
                                        <div class="col-lg-6">
                                            <div class="heading-layout1">
                                                <h2 class="heading-title">@blogPost2.Blog.Name</h2>
                                                <div class="heading-icon">
                                                    <a href="#" class="active"><i class="flaticon-left-arrow-1"></i></a>
                                                    <a href="#"><i class="flaticon-right-arrow"></i></a>
                                                </div>
                                            </div>
                                            <div class="post-grid-layout2">
                                                <div class="item-img">
                                                    <img src="@_imageService.DecodeImage(blogPost2.ImageData, blogPost2.ImageType)" width="500" height="284" alt="Post Image">
                                                </div>
                                                <div class="item-content">
                                                    <div class="post-date"><i class="flaticon-clock"></i>@blogPost2.Created.ToString("dd MMMM, yyyy")</div>
                                                    <h3 class="post-title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost2.Slug">@blogPost2.Title</a></h3>
                                                    <p>@blogPost2.Abstract</p>
                                                    <div class="post-meta-dark">
                                                        <ul>
                                                            <li class="post-author">
                                                                <div class="author-icon bg-blueviolet">
                                                                    <i class="flaticon-user"></i>
                                                                </div>
                                                                <div class="author-content">
                                                                    <div class="item-text">Posted by</div>
                                                                    <div class="author-name"><a href="#">Monae Lee</a></div>
                                                                </div>
                                                            </li>
                                                            <li class="meta-action"><i class="flaticon-heart"></i>2,350</li>
                                                            <li class="meta-action"><i class="flaticon-comment-white-oval-bubble"></i>@blogPost2.Comments.Count()</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                <section class="post-video-slider margin-bottom-40">
                                    <div class="container">
                                        <div class="heading-layout2">
                                            <h2 class="heading-title">All Blog Posts</h2>
                                        </div>
                                        <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="30" data-margin="15" data-autoplay="true" data-autoplay-timeout="4000" data-smart-speed="1000" data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="2" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="3" data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="3" data-r-large-nav="true" data-r-large-dots="false" data-r-extra-large="4" data-r-extra-large-nav="true" data-r-extra-large-dots="false">
                                            @foreach (BlogPost blogPost4 in Model.NewestCards.SidePostCards)
                                            {
                                                <div class="post-grid-layout4">
                                                    <div class="item-img">
                                                        <img src="@_imageService.DecodeImage(blogPost4.ImageData, blogPost4.ImageType)" width="304" height="222" alt="Post Image">
                                                    </div>

                                                    <div class="item-content">
                                                        <div class="item-tag bg-amaranth">@blogPost4.Blog.Name</div>
                                                        <h3 class="item-title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost4.Slug">@blogPost4.Title</a></h3>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </section>
                                      
                                    </div>
                            </div>
                          
                            @*<div class="ad-banner-layout1 margin-bottom-40 full-width">
                                <a href="#">
                                    <img src="media/figure/ad2.jpg" alt="Ad">
                                </a>
                            </div>*@
                          
                        </div>
                    <div class="col-xl-3 sidebar-widget">
                        <div class="widget widget-upcoming-post">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#blogs" role="tab" aria-selected="true">Blogs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#posts" role="tab" aria-selected="false">Posts</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="blogs" role="tabpanel">
                                    <div class="post-list-layout2">
                                        @foreach (Blog blog in Model.NewestCards.SideCards.Skip(5).Take(4))
                                        {
                                            <div class="media">
                                                <div class="item-img">
                                                    <img src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" width="152" height="113" alt="Blog Image">
                                                </div>
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> @blog.Created.ToString("dd MMMM, yyyy")</div>
                                                    <h4 class="post-title"><a asp-action="ChildIndex" asp-controller="BlogPosts" asp-route-id="@blog.Id">@blog.Name</a></h4>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="posts" role="tabpanel">
                                    <div class="post-list-layout2">
                                        @foreach (BlogPost blogPost5 in Model.NewestCards.SidePostCards.Skip(5).Take(4))
                                        {
                                            <div class="media">
                                                <div class="item-img">
                                                    <img src="@_imageService.DecodeImage(blogPost5.ImageData, blogPost5.ImageType)" width="152" height="113" alt="Post Image">
                                                </div>
                                                <div class="media-body">
                                                    <div class="post-date"><i class="flaticon-clock"></i> @blogPost5.Created.ToString("dd MMMM, yyyy")</div>
                                                    <h4 class="post-title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost5.Slug">@blogPost5.Title</a></h4>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-social">
                            <div class="heading-layout1">
                                <h2 class="heading-title">Follow Us On</h2>
                            </div>
                            <div class="social-box">
                                <div class="media">
                                    <div class="item-icon bg-fb">
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                    <div class="media-body bg-aash">
                                        <div class="item-title">Followers</div>
                                        <div class="follower-number">10,555</div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="media-body bg-aash">
                                        <div class="item-title">Followers</div>
                                        <div class="follower-number">19,555</div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </div>
                                    <div class="media-body bg-aash">
                                        <div class="item-title">Followers</div>
                                        <div class="follower-number">9,369</div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-dribble">
                                        <i class="fab fa-dribbble"></i>
                                    </div>
                                    <div class="media-body bg-aash">
                                        <div class="item-title">Followers</div>
                                        <div class="follower-number">11,599</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-newsletter">
                            <h3 class="item-title">Subscribe <span>Newsletter</span></h3>
                            <div class="item-subtitle">Get Latest Updates</div>
                            <div class="item-icon">
                                <img src="media/figure/icon.png" alt="Message">
                            </div>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" placeholder="Enter your mail">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="submit-btn">Subscribe Now</button>
                                </div>
                            </form>
                        </div>
                        @*<div class="widget widget-most-viewed ">
                            <div class="heading-layout1">
                                <h3 class="heading-title">Most Viewed</h3>
                            </div>
                            <div class="grid-post">
                                <div class="item-img">
                                    <img src="@_imageService.DecodeImage(Model.MainOldestBlog.ImageData, Model.MainOldestBlog.ContentType)" width="303" height="200" alt="Blog Image">
                                    <div class="item-tag bg-light">Fan Favorite</div>
                                </div>
                                <div class="item-content">
                                    <div class="post-date"><i class="flaticon-clock"></i>@Model.MainOldestBlog.Created.ToString("dd MMMM, yyyy")</div>
                                    <h3 class="post-title"><a href="single-post1.html">@Model.MainOldestBlog.Name</a></h3>
                                </div>
                            </div>
                            <div class="list-post">
                                @foreach (BlogPost blogPost6 in Model.MainOldestBlog.BlogPosts.Take(4))
                                {
                                    <div class="media">
                                        <div class="item-img">
                                            <img src="@_imageService.DecodeImage(blogPost6.ImageData, blogPost6.ImageType)" width="152" height="113" alt="Post Image">
                                        </div>
                                        <div class="media-body">
                                            <div class="post-date"><i class="flaticon-clock"></i>@blogPost6.Created.ToString("dd MMMM, yyyy")</div>
                                            <h4 class="post-title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost6.Slug">@blogPost6.Abstract</a></h4>
                                        </div>
                                    </div>
                                }
                            </div>

                            <a asp-action="ChildIndex" aps-controller="BlogPosts" asp-route-id="@Model.MainOldestBlog.Id" class="view-all-btn mb-4"><i class="flaticon-right-arrow"></i>View All Posts</a>

                        </div>*@
                        @*<div class="widget widget-ad">
                            <a href="#">
                                <img src="media/figure/ad4.jpg" alt="Ad">
                            </a>
                        </div>*@
                      
                    </div>
                </div>
            </div>
        </section>
        
       
    </div>
</div>
<!--=====================================-->
<!--=            Social Start           =-->
<!--=====================================-->
<section class="social-box-wrap">
    <div class="container-fluid full-width">
       
    </div>
</section>