@using ShadowBlog.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using ShadowBlog.Services.Interfaces
@using X.PagedList.Web.Common
@model IPagedList<BlogPost>

@inject IImageService _imageService

@{
    ViewData["Title"] = "Blog Posts";
}
<!--=====================================-->
<!--=           Category Start        	=-->
<!--=====================================-->
<!--=====================================-->
<!--=           Category Start        	=-->
<!--=====================================-->
<section class="inner-section">
    <div class="container">
        <div class="row gutters-40">
            <div class="col-xl-9 col-lg-8">
                <h2>@ViewBag.Message</h2>
                @foreach (BlogPost blogPost in Model)
                {
                    <div class="post-list-layout3 post-list6">
                        <div class="item-img">
                            <img src="@_imageService.DecodeImage(blogPost.ImageData, blogPost.ImageType)" alt="Post Image">
                        </div>
                        <div class="item-content">
                            <div class="item-tag bg-green">@blogPost.Blog.Name</div>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="flaticon-clock"></i> @blogPost.Created.ToString("dd MMMM, yyyy")</li>
                                    <li class="item-author"><i class="flaticon-user bg-blueviolet"></i><span>By</span><a href="#">Monae Lee</a></li>
                                </ul>
                            </div>
                            <h2 class="item-title"><a href="#">@blogPost.Title</a></h2>
                            <p>
                                @blogPost.Abstract
                            </p>
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug" class="btn-fill-md">READ MORE</a>
                            @if (User.IsInRole("Administrator"))

                            {
                                <a asp-action="Edit" asp-controller="BlogPosts" asp-routeId="@blogPost.Id" class="btn-fill-md">EDIT</a>
                            }
                        </div>
                    </div>
                }

                <div @*class="pagination-layout1"*@>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 sidebar-widget">
                @if (User.IsInRole("Administrator"))
                {

                    <a class="btn btn-secondary mb-3" asp-action="Create" asp-controller="BlogPosts">Add New Post</a>

                }
                <div class="widget widget-search">
                    <form asp-action="SearchPosts" asp-controller="BlogPosts">
                        <div class="input-group stylish-input-group">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search Blog Posts . . .">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>

                <div class="widget widget-social">
                    <div class="heading-layout1">
                        <h2 class="heading-title">Follow Us On</h2>
                    </div>
                    <div class="social-box">
                        <div class="media">
                            <div class="item-icon bg-fb">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="media-body bg-fb2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">10,555</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="media-body bg-twitter2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">19,555</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-google-plus">
                                <i class="fab fa-google-plus-g"></i>
                            </div>
                            <div class="media-body bg-google-plus2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">9,369</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-dribble">
                                <i class="fab fa-dribbble"></i>
                            </div>
                            <div class="media-body bg-dribble2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">11,599</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget widget-newsletter">
                    <h3 class="item-title">Subscribe <span>Newsletter</span></h3>
                    <div class="item-subtitle">Get Latest Updates</div>
                    <div class="item-icon">
                        <img src="~/media/figure/icon.png" alt="Message">
                    </div>
                    <form asp-action="Newsletter" asp-controller="Home">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Enter your mail">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="submit-btn">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>