@model IPagedList<BlogPost>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using ShadowBlog.Services.Interfaces
@using X.PagedList.Web.Common
@inject IImageService _imageService
@{
    ViewData["Title"] = "Index";
}
<!--=====================================-->
<!--=           Category Start        	=-->
<!--=====================================-->
<section class="inner-page-banner bg-common" data-bg-image="media/figure/banner1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>All Blog Posts</h1>
                    <ul>
                        <li>
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li>
                            <a href="#">Category</a>
                        </li>
                        <li>Action</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=           Category Start        	=-->
<!--=====================================-->
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                @foreach (var item in Model)
                {
                    <div class="post-list-layout3 align-items-center">
                        <div class="item-img">
                            <img src="@_imageService.DecodeImage(item.ImageData, item.ImageType)" width="360" height="314" alt="Post Image">
                            <div class="item-tag bg-blueviolet">@item.Blog.Name</div>
                        </div>
                        <div class="item-content">
                            <div class="post-meta">
                                <ul>
                                    <li><i class="flaticon-clock"></i>@item.Created.ToString("dd MMMM, yyyy")</li>
                                    <li class="item-author"><i class="flaticon-user bg-green"></i><span>By</span><a asp-action="AboutMe" asp-controller="Home">Monae Lee</a></li>
                                </ul>
                            </div>
                            <h3 class="item-title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@item.Slug"> @item.Title</a></h3>
                            <p>@Html.Raw(item.Abstract)</p>
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@item.Slug" class="btn-fill-md">READ POST</a>
                            @if (User.IsInRole("Administrator"))
                            {
                                <a asp-action="Edit" asp-controller="BlogPosts" asp-route-id="@item.Id" class="btn-fill-md">EDIT POST</a>
                            }
                        </div>
                    </div>
                }

                <div @*class="pagination-layout1"*@>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
                   
                </div>
            </div>
            <div class="col-xl-3 sidebar-widget-xl">
                <div class="widget widget-search">
                    <form asp-action="SearchPosts" asp-controller="BlogPosts">
                        <div class="input-group stylish-input-group">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search Story . . .">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
               
                <div class="widget widget-social">
                    <div class="heading-layout1">
                        <h2 class="heading-title">Follow Us On</h2>
                    </div>
                    <div class="social-box">
                        <div class="media">
                            <div class="item-icon bg-fb">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="media-body bg-fb2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">10,555</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="media-body bg-twitter2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">19,555</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-google-plus">
                                <i class="fab fa-google-plus-g"></i>
                            </div>
                            <div class="media-body bg-google-plus2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">9,369</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-dribble">
                                <i class="fab fa-dribbble"></i>
                            </div>
                            <div class="media-body bg-dribble2">
                                <div class="item-title text-white">Followers</div>
                                <div class="follower-number text-white">11,599</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-ad">
                    <a href="#">
                        <img src="media/figure/ad3.jpg" alt="Ad">
                    </a>
                </div>
                <div class="widget widget-newsletter">
                    <h3 class="item-title">Subscribe <span>Newsletter</span></h3>
                    <div class="item-subtitle">Get Latest Updates</div>
                    <div class="item-icon">
                        <img src="media/figure/icon.png" alt="Message">
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Enter your mail">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="submit-btn">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section></table>